.img-main {
    width: 100%;
}

.img2 {
    width: 95%;
    margin: 0 2.5%;
}

.content {
    font-family: PingFangSC-Light;
    font-size: 0.85rem;
    color: #000000;
    margin: 0.75rem;
}

.p-node {
    /* background: #91007F;
    font-family: PingFangSC-Semibold;
    font-size: 0.85rem;
    color: #FFFFFF;
    padding-left: 0.35rem;
    width: 18rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem; */
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

/* .xuxian {
    width:50%;
    height:0;
    border-bottom:#ccc 1px dashed;
    margin-top: 0.4rem;
} */

.bold-txt {
    font-weight: bold;   
}

。paragraph {
    margin-bottom: 1rem;
}

.more-btn {
    background-color: rgb(226, 2, 126);
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    color: white;
    font-family: PingFangSC-Light;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.3rem;
}

.more-btn-1 {
    background-color: rgb(255, 129, 36);
}